.App {
  width: 400px;
  height: 500px;
  margin: 40px auto;
  padding: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #333;
}

.form-text {
  width: 100%;
  display: block;
  margin: 30px 0;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
}

.submit-btn {
  background: #3a6abb;
  width: 100%;
  color: white;
  padding: 15px;
  font-size: 1em;
}
